<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', path='/Chatting.css?add') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <title>채팅</title>
  </head>
  <body>
    <div class="wrap">
      <div class="container">
        <header>
          <div class="header-div">
            <div id="title"></div>
            <div class="header-etc">
              <div class="code_div">
                회의 코드:
                <span id="code" onclick="copy()"> {{ code }} </span>
              </div>
              <i class="bi bi-box-arrow-right" onclick="exit()"></i>
            </div>
          </div>
        </header>
        <ul id="messages"></ul>
        <form action="" onsubmit="sendMessage(event)">
          <input
            type="text"
            id="messageText"
            autocomplete="off"
            placeholder="메세지를 입력하세요..."
            autofocus
          />
          <button><i class="bi bi-send-fill"></i></button>
        </form>
      </div>
    </div>

    <script>
      const ScrollDown = () => {
        var ul = document.getElementById("messages");

        ul.scrollTop = ul.scrollHeight;
      };

      setTimeout(function () {
        ScrollDown();
      }, 100);

      const exit = () => {
        location.href = "";
      };
    </script>

    <script>
      function copy() {
        var code = "{{ code }}";

        let tempInput = document.createElement("input");
        tempInput.value = code;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
        alert("복사되었습니다!");
      }
    </script>

    <script>
      const generateRandomString = (num) => {
        const characters =
          "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
        let result = "";
        const charactersLength = characters.length;
        for (let i = 0; i < num; i++) {
          result += characters.charAt(
            Math.floor(Math.random() * charactersLength)
          );
        }

        return result;
      };

      const ShowMessages = (receive_id, receive_message) => {
        var messages = document.getElementById("messages");
        var div = document.createElement("div");
        var message = document.createElement("li");

        if (client_id == receive_id) {
          div.classList.add("me");
        } else {
          div.classList.add("other");
          var span = document.createElement("span");
          var other_person = document.createTextNode(receive_id);
          span.appendChild(other_person);
          div.appendChild(span);
        }

        var content = document.createTextNode(receive_message);
        message.appendChild(content);
        div.appendChild(message);
        messages.appendChild(div);
      };

      const PostMessageInDatabase = (text, user, time) => {
        $.ajax({
          url: "https://wv9wwf.deta.dev/api/database/chatting",
          type: "post",
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify({
            message: text,
            user: user,
            time: time,
          }),
          success: function (data) {},
          error: function (jqXHR, textStatus, errorThrown) {
            alert(errorThrown);
          },
        });
      };

      const GetMessageInDatabase = () => {
        $.ajax({
          url: "https://wv9wwf.deta.dev/api/database/chatting",
          type: "get",
          dataType: "json",
          success: function (data) {
            for (let i = 0; i < data.length; i++) {
              var message = data[i]["message"];
              var user = data[i]["user"];

              ShowMessages(user, message);
            }
          },
          error: function (jqXHR, textStatus, errorThrown) {
            alert(errorThrown);
          },
        });
      };
      GetMessageInDatabase();

      var client_id = generateRandomString(5);
      var ws = new WebSocket(`ws://https://wv9wwf.deta.dev/ws/${client_id}`);
      ws.onmessage = function (event) {
        var receive_id = JSON.parse(event.data)["client_id"];
        var receive_message = JSON.parse(event.data)["data"];

        ShowMessages(receive_id, receive_message);
      };
      function sendMessage(event) {
        var input = document.getElementById("messageText");
        if (input.value == "") {
          alert("메세지를 입력하세요.");
          return;
        } else {
          ws.send(input.value);

          PostMessageInDatabase(input.value, client_id, "12:40 pm");
          input.value = "";
          event.preventDefault();
          setTimeout(function () {
            ScrollDown();
          }, 100);
        }
      }

      const GetRoomInDatabase = () => {
        var code = "{{ code }}";
        $.ajax({
          url: `https://wv9wwf.deta.dev/api/database/meeting?code=${code}`,
          type: "get",
          dataType: "json",
          success: function (data) {
            var title_div = document.getElementById("title");
            var span = document.createElement("span");
            var content = document.createTextNode(data["title"]);

            span.appendChild(content);
            title_div.appendChild(span);
          },
          error: function (jqXHR, textStatus, errorThrown) {
            alert(errorThrown);
          },
        });
      };
      GetRoomInDatabase();
    </script>
  </body>
</html>
